Babel==2.5.3
certifi==2018.4.16
chardet==3.0.4
dj-database-url==0.5.0
Django==2.0.5
django-appconf==1.0.2
django-bootstrap4==0.0.6
django-countries==5.3
django-decouple==2.1
django-getpaid==1.7.6
django-mailer==1.2.4
django-paypal==0.5.0
django-phonenumber-field==2.0.0
django-user-accounts==2.0.3
idna==2.6
lockfile==0.12.2
measurement==2.0.1
mpmath==1.0.0
phonenumberslite==8.9.6
Pillow==8.2.0
psycopg2-binary==2.7.4
pytz==2018.4
requests==2.18.4
six==1.11.0
stripe==1.82.1
sympy==1.1.1
urllib3==1.22
whitenoise==3.3.1
